extends ../_base.pug

block content
    article
        h2 Base64 Converter
        .center.gap
            label Plain
            textarea#plain(rows="6")
        .center.gap
            button#encode Encode
            button#decode Decode
            button#clear Clear
        .center.gap
            label Encoded
            textarea#encoded(rows="6")
        script(src="base64.js?v=20251127")