extends ../_base.pug

block content
    h2 base64 converter
    p.center
        label Plain
        textarea#plain
    p.center
        button#encode Encode
        button#decode Decode
        button#clear Clear
    p.center
        label Encoded
        textarea#encoded
    script(src="base64.js")