extends ../_base.pug

block content
    article
        h2 Hash Generator
        .center.gap
            label Method
        label.option
            input(type="radio" name="method" value="MD5")
            | &nbsp;
            span MD5
        label.option
            input(type="radio" name="method" value="SHA1")
            | &nbsp;
            span SHA1
        label.option
            input(type="radio" name="method" value="SHA256")
            | &nbsp;
            span SHA256
        label.option
            input(type="radio" name="method" value="SHA224")
            | &nbsp;
            span SHA224
        label.option
            input(type="radio" name="method" value="SHA384")
            | &nbsp;
            span SHA384
        label.option
            input(type="radio" name="method" value="SHA512")
            | &nbsp;
            span SHA512
        label.option
            input(type="radio" name="method" value="SHA3")
            | &nbsp;
            span SHA3
        label.option
            input(type="radio" name="method" value="RIPEMD160")
            | &nbsp;
            span RIPEMD160
        label With HMAC
        label.option
            input(type="checkbox" name="hmac" value="Hmac")
            | &nbsp;
            span Yes please
        .hmac(style="display: none;")
            label HMAC Key
            textarea#hmac(rows="3")
        label Text
        textarea#text(rows="6")
        .center.gap
            label Result
            textarea#result(rows="6" readonly)
        script(src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js")
        script(src="hash-calculator.js?v=20251127")