extends ../_base.pug

block content
    article
        h2 JSON Formatter
        .center.gap
            label JSON Goes Here
            textarea#json(rows="12")
            #error-msg.error
        .center.gap
            button#prettify Prettify
            button#minify Minify
        script(src="json-fmt.js?v=20251127")