extends ../_base.pug

block content
    article
        h2 JSON YAML Converter
        .center.gap
            label JSON
            textarea#json(rows="12")
        .center.gap
            button#to-yaml To YAML
            button#to-json To JSON
            button#clear Clear
            #error-msg.error
        .center.gap
            label YAML
            textarea#yaml(rows="12")
        script(src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.1/dist/js-yaml.min.js")
        script(src="json-yaml.js?v=20251127")