extends ../_base.pug

block content
    article
        h2 Password Generator
        .center.gap
            label Length
            input(type="number" id="length" value="16" min="4" max="128" style="width: 100px; text-align: center;")
            label Character Types
            label.option
                input(type="checkbox" name="chars" value="uppercase" checked)
                | &nbsp;
                span Uppercase (A-Z)
            label.option
                input(type="checkbox" name="chars" value="lowercase" checked)
                | &nbsp;
                span Lowercase (a-z)
            label.option
                input(type="checkbox" name="chars" value="numbers" checked)
                | &nbsp;
                span Numbers (0-9)
            label.option
                input(type="checkbox" name="chars" value="symbols" checked)
                | &nbsp;
                span Symbols (!@#$%^&*)
            label Quantity
            input(type="number" id="quantity" value="1" min="1" max="50" style="width: 100px; text-align: center;")
            button#generate Generate Passwords
            label Result
            textarea#result(rows="12" readonly)
            script(src="password-generator.js?v=20251127")
