:root {
    --pico-font-size: 15px;
}
.site-index {
    font-size: 15px;
    list-style: none;
    line-height: 1.5em;
}
textarea {
    font-family: 'Courier New', Courier, monospace;
}
.error {
    display: none;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--pico-color);
    border-radius: var(--pico-border-radius);
    color: var(--pico-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}
#github {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
}
#github img {
    width: 60px;
    height: 60px;
    display: block;
}