doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css', integrity='sha256-7GAtDQ79wTEOjhBKf70uBQG7A5yyb+8rigu07atXWDY=', crossorigin='anonymous')
        link(rel='stylesheet', href='/assets/style.css')
        title inbrowser.tools
body
    a#github(href="https://github.com/xinsnake/inbrowser.tools" target="_blank")
        img(src="/assets/github.svg")
    .container
        h1
            a(href="/") inbrowser.tools
        hr
        block content
        hr
        footer
            p inbrowser.tools by <a href="https://github.com/xinsnake">xinsnake</a> &copy; 2018
            p background made by <a href="https://www.toptal.com/designers/subtlepatterns/hypnotic/" target="_blank">Akash</a>