doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='/vendor/normalize.css')
        link(rel='stylesheet', href='/vendor/prism.css')
        link(rel='stylesheet', href='/vendor/prism-tomorrow.css')
        link(rel='stylesheet', href='/vendor/codeflask.css')
        link(rel='stylesheet', href='/assets/style.css')
        script(src='/vendor/prism.js')
        script(src='/vendor/codeflask.js')
        title inbrowser.tools
body
    a#github(href="https://github.com/xinsnake/inbrowser.tools" target="_blank")
        img(src="/assets/github.svg")
    .container
        h1
            a(href="/") inbrowser.tools
        hr
        block content
        hr
        footer
            p inbrowser.tools by <a href="https://github.com/xinsnake">xinsnake</a> &copy; 2018
            p background made by <a href="https://www.toptal.com/designers/subtlepatterns/hypnotic/" target="_blank">Akash</a>