extends _base.pug

block content
    section
        hgroup
            h2 Privacy-First Developer Tools
            p Everything runs in your browser
        
        .grid
            article
                h4 Encoders &amp; Converters
                ul
                    li: a(href="/t/base64.html") Base64 Converter
                    li: a(href="/t/hex-ascii.html") Hex to ASCII Converter
                    li: a(href="/t/number-base.html") Number Base Converter
                    li: a(href="/t/image-base64.html") Image to Base64 Converter
                    li: a(href="/t/qr-code.html") QR Code Generator
            
            article
                h4 Data Tools
                ul
                    li: a(href="/t/json-fmt.html") JSON Formatter
                    li: a(href="/t/json-yaml.html") JSON YAML Converter
                    li: a(href="/t/jwt-decoder.html") JWT Token Decoder
                    li: a(href="/t/markdown-preview.html") Markdown to HTML Preview
            
            article
                h4 Generators
                ul
                    li: a(href="/t/uuid-generator.html") UUID Generator
                    li: a(href="/t/password-generator.html") Password Generator
                    li: a(href="/t/random-number.html") Random Number Generator
                    li: a(href="/t/random-bytes.html") Random Bytes Generator
                    li: a(href="/t/hash-calculator.html") Hash Calculator
            
            article
                h4 Utilities
                ul
                    li: a(href="/t/char-counter.html") Character &amp; Word Counter
                    li: a(href="/t/unix-timestamp.html") Unix Timestamp Converter
                    li: a(href="/t/color-converter.html") Color Picker &amp; Converter
    
    section
        article
            h3 Why This Site?
            p
                | I built this because I don't trust other online tools with my data. Many of them send your information to their servers, 
                | where it could be stored, logged, or worse.
            p
                | Here, everything runs directly in <em>your browser</em>. Your data never leaves your machine.